.rotate-left {
  transform: rotate(-90deg);
}


.reveal section img {
  border: 0;
  box-shadow: none;
}


.ykss {
  text-align: left;
  color: red;
}

.kaks {
  text-align: left;
  color: blue;
}

.lefty {
  text-align: left;
  display: block;
}
